* {
  transition: all 0.1s ease-in;
}
* {
  box-sizing: border-box;
}

body {
  background: rgb(59, 63, 69);
  color: rgb(255, 255, 255);
  border: 15px solid rgb(255, 255, 255);
  margin: 0;
  min-height: 100vh;
  font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

header {
  background: rgb(74, 79, 86);
  padding: 0 20px;
}

h1 {
  margin: 0;
  padding-top: 15px;
  color: rgb(235, 126, 127);
  text-align: center;
}

header h2 {
  margin: 0;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
}

header h2,
footer h2 {
  color: rgb(235, 126, 127);
  text-align: center;
  font-weight: normal;
}

footer h2 {
  margin: 15px 0;
}

ul {
  padding: 0;
  font-weight: normal;
}

.container {
  width: 60%;
  margin: 0 auto;
}

li {
  display: block;
  border-top: 2px solid rgb(136, 131, 158);
  border-bottom: 2px solid rgb(136, 131, 158);
  background: rgb(136, 131, 158);
  padding: 7px 4px;
  font-size: 20px;
}

label {
  display: block;
}

li:nth-child(2n) {
  background: rgb(122, 117, 147);
}

.checkboxs {
  margin: 5px;
  zoom: 1.8;
}
input:checked + span,
input:checked + span > small {
  text-decoration: line-through;
  color: #a3a0b5;
  opacity: 0.7;
}
li:hover {
  border-color: white;
  background: #625e77;
}

li:active {
  background: rgb(235, 126, 127);
}

span {
  font-size: 25px;
}

small {
  font-size: 17px;
  color: rgb(205, 203, 203);
}

small:before {
  content: "( ";
}

small:after {
  content: " )";
}

.foot {
  background: rgb(74, 79, 86);
  margin: 0;
  padding: 1px 0;
}

input,
span {
  vertical-align: middle;
}
